<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color:blue;">注册</h1>
    {% block page_info %}
    <h1 style="background-color:orange;">网站主页</h1>
    <a href="{% url 'sport' %}">进入运动页面</a>
    {% endblock %}
    <h1 style="background-color:grey;">联系我们:baidu.cn</h1>
</body>
</html>