<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h5> {{ s }} </h5>
        <h5>{{ s | safe }}</h5>
        <h3> {{ s | upper }} </h3>
        <h3>{{ n | add:'2' }}</h3>
        <h5>{{ s2 | truncatechars:'8' }}</h5>
    </div>
    <ul>
        {% for city in lst %}
        {% if forloop.first %} <li>=====</li> {% endif %}
        <li> {{ forloop.counter }}． {{ city }}</li>
        {% if forloop.last %} <li>=====</li> {% endif %}
        {% empty %}
        <li> 没有城市 </li>
        {% endfor %}
    </ul>
</body>
</html>